<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="cabecera(titulo)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${titulo}"></title>
    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
</head>



<!-- Topbar -->
<nav th:fragment="TopBar" class="navbar navbar-expand navbar-light bg-Pceleste topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <a  sec:authorize="isAnonymous()"  th:href="@{/list}">
        <div class="text-center">
            <img th:src="@{/img/logo.png}" height="50px" width="200px" style="border-radius: 10rem">
        </div>
    </a>
    <a sec:authorize="hasAnyAuthority('admin')" th:href="@{/admin/principal}">
        <div class="text-center">
            <img th:src="@{/img/logo.png}" height="50px" width="200px" style="border-radius: 10rem">
        </div>
    </a>
    <a sec:authorize="hasAnyAuthority('gestor')" th:href="@{/gestor}">
        <div class="text-center">
            <img th:src="@{/img/logo.png}" height="50px" width="200px" style="border-radius: 10rem">
        </div>
    </a>
    <a sec:authorize="hasAnyAuthority('registrado')" th:href="@{/registrado}">
        <div class="text-center">
            <img th:src="@{/img/logo.png}" height="50px" width="200px" style="border-radius: 10rem">
        </div>
    </a>


    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <li th:if="${session.user} == null" sec:authorize="isAnonymous()"  class="nav-item">
            <a class="nav-link" th:href="@{/list}">Lista de productos</a>
        </li>
        <li  sec:authorize="hasAnyAuthority('admin')"  class="nav-item">
            <a class="nav-link" th:href="@{/admin/principal}">Lista de productos</a>
        </li>
        <li  sec:authorize="hasAnyAuthority('gestor')"  class="nav-item">
            <a class="nav-link" th:href="@{/gestor}">Lista de productos</a>
        </li>
        <li  sec:authorize="hasAnyAuthority('registrado')"  class="nav-item">
            <a class="nav-link" th:href="@{/registrado}">Lista de productos</a>
        </li>
        <li sec:authorize="hasAnyAuthority('admin')" class="nav-item">
            <a class="nav-link" th:href="@{/admin}">Lista de gestores</a>
        </li>
        <li sec:authorize="hasAnyAuthority('admin')" class="nav-item">
            <a class="nav-link" th:href="@{/admin/nuevo}">Registra un gestor</a>
        </li>
        <li sec:authorize="hasAnyAuthority('gestor')" class="nav-item">
            <a class="nav-link" th:href="@{/gestor/nuevo}">Registrar Producto</a>
        </li>
        <li sec:authorize="hasAnyAuthority('gestor')" class="nav-item">
            <a class="nav-link" th:href="@{/estadisticas}">Estadísticas</a>
        </li>

        <li sec:authorize="hasAnyAuthority('registrado')" class="nav-item">
            <a class="nav-link" th:href="@{/registrado/checkout}">Checkout</a>
        </li>
        <li sec:authorize="hasAnyAuthority('registrado')" class="nav-item">
            <a class="nav-link" th:href="@{/registrado/pedidos}">Lista de pedidos</a>
        </li>



        <!-- Nav Item - Alerts -->
        <li sec:authorize="hasAnyAuthority('registrado')" class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" th:href="@{/registrado/verCarrito}" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-shopping-cart text-white"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter" th:text="${session.numeroCarrito}"></span>
            </a>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
    </ul>

    <div th:if="${session.user} == null" sec:authorize="isAnonymous()" id="usuarioAnonimo" class="row">
        <div><a class="btn btn-info" th:href="@{/loginForm}">Iniciar Sesión</a></div>
    </div>
    <div th:if="${session.user} != null" sec:authorize="isAuthenticated()" id="usuarioAutenticado" class="row">
        <div><span th:text="|Bienvenido ${session.user.nombre} ${session.user.apellido} (${session.user.rol})|"></span></div>
        <div><form th:action="@{/cerrar}" method="post">
            <input class="btn btn-info" type="submit" value="Cerrar Sesión"/>
        </form></div>
    </div>



</nav>
<!-- End of Topbar -->


<!-- Logout Modal-->
<div th:fragment="LogOut" class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <form class="modal-footer" th:action="@{/cerrar}" method="post" >
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="submit">Logout</button>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<div th:fragment="script">
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
</div>
</html>