<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/Fragmentos.html::cabecera(titulo='Página Principal')">
</head>
<body>
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <!-- Main Content -->
        <div id="content">
            <div th:insert="fragmentos/Fragmentos.html::TopBar"></div>
            <div th:insert="fragmentos/Fragmentos.html::LogOut"></div>
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-flex col-lg-12">
                    <div class="col-lg-4"></div>
                    <form class="form-inline mr-auto w-100 navbar-search center">
                        <div class="input-group col-lg-5">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn bg-Projo" type="button">
                                    <i class="fas fa-search fa-sm text-white"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <br><br>
                <div class="row">

                    <div class="col-lg-6">
                        <div class="d-flex">
                            <div class="col-lg-1"></div>
                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="d-flex">
                            <div class="col-lg-1"></div>
                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="d-flex">
                            <div class="col-lg-1"></div>
                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="d-flex">
                            <div class="col-lg-1"></div>
                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <div class="col-lg-1"></div>
                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="col-lg-3">
                                            <img th:src="@{/img/arroz.jpg}" width="135px" height="135px">
                                        </div>
                                        <div class="col-lg-4">
                                            <p>Código:</p>
                                            <p>Nombre:</p>
                                            <p>Precio:</p>
                                            <p>Stock:</p>
                                            <a href="#">+Ver más</a>
                                            <a href="#" class="btn btn-green">Agregar al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="d-flex">
                            <div class="col-lg-1"></div>
                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="d-flex">
                            <div class="col-lg-1"></div>
                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div th:replace="fragmentos/Fragmentos.html::Script"></div>
</body>
</html>