<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragmentos/Fragmentos.html::cabecera(titulo='Página Principal')">
</head>
<body>
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <!-- Main Content -->
        <div id="content">
            <div th:insert="fragmentos/Fragmentos.html::TopBar"></div>
            <div th:if="${session.user} != null" th:insert="fragmentos/Fragmentos.html::LogOut"></div>
            <div class="container-fluid">
                <!-- Page Heading -->
                <hr style="width: 220px">
                <div class="d-flex col-lg-12">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <p th:text="|Precio Final:  ${precioFinal}|"></p>
                        <br>
                        <br>
                        <a class="btn btn-celeste btn-user btn-block" th:href="@{/registrado/vistacheck}">Proceder a Comprar</a>
                    </div>
                </div>
                <hr style="width: 220px"><br>
                <div class="d-flex" th:each="x:${lista}">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6" >
                        <div class="d-flex">
                            <div class="col-lg-1"></div>
                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4 col-lg-10">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="col-lg-6">
                                            <br>
                                            <img th:src="@{|image/${x.producto.idproducto}|}" width="135px" height="135px">
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <p>Código:</p>
                                                <div class="col-lg-1"></div>
                                                <p th:text="${x.producto.nombre}"></p>
                                            </div>
                                            <div class="row">
                                                <p>Nombre:</p>
                                                <div class="col-lg-1"></div>
                                                <p th:text="${x.producto.nombre}"></p>
                                            </div>
                                            <div class="row">
                                                <p>Precio:</p>
                                                <div class="col-lg-1"></div>
                                                <p th:text="${x.producto.precio}"></p>
                                            </div>
                                            <div class="row">
                                                <p>Cantidad:</p>
                                                <div class="col-lg-1"></div>
                                                <p th:text="${x.cantidad}"></p>
                                            </div>
                                            <div class="row">
                                                <p>SubTotal:</p>
                                                <div class="col-lg-1"></div>
                                                <p th:text="${x.cantidad} * ${x.producto.precio}"></p>
                                            </div>
                                            <br>
                                            <div sec:authorize="hasAnyAuthority('registrado')" class="d-flex">
                                                <div class="col-lg-2"></div>
                                                <a  th:href="@{'/registrado/quitarCarrito' + '?id=' + ${x.idproductoseleccionado}}" style="width: 160px" class="btn btn-danger btn-user btn-block">Quitar de Carrito</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div th:replace="fragmentos/Fragmentos.html::Script"></div>
</body>
</html>